@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Open+Sans:wght@400;600&family=Questrial&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  max-width: 1920px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container-logo,
.container-menu {
  background: radial-gradient(circle, #2e0101, #2B0000 70%, #220000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 15px 0;
}

.coluna-menu.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
}

.coluna-menu ul {
  font-family: "Questrial", sans-serif;
  list-style: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #240000;
  width: 1065px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid #430606;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 86px;
}

.coluna-menu a {
  text-decoration: none;
  color: #fff;
}

.coluna-menu a:hover {
  color: hsl(6, 94%, 85%);
}

.coluna-menu a.ativo {
  color: hsl(6, 94%, 85%);
}

.header-banner {
  background-color: #d9d9d9;
}

.header-banner img {
  max-width: 100%;
  height: auto;
}

/* estilos aplicados a sessão carnes*/

.carnes {
  background-color: #d9d9d9;
  padding-bottom: 105px;
}

.header-carnes-exoticas,
.header-carnes-nobres {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  gap: 34px;
}

.header-carnes-nobres {
  align-items: end;
  gap: 165px;
}

.carnes h2 {
  color: #530202;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
}

.carnes-exoticas-cards,
.carnes-nobres-cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 65px;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  background: #e6e7e8;
  border-radius: 4px 4px 4px 4px;
}

.card-img img {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.card-descricao {
  background: #e6e7e8;
  padding: 15px;
  border-radius: 4px;
  display: grid;
}

.nome-carne {
  margin-bottom: 10px;
}

.nome-carne a {
  color: #530202;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.preco {
  color: #605e5e;
  font-size: 14px;
  text-transform: uppercase;
}

.valor {
  color: #4b7e0a;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.divisor-sessao-carnes {
  display: flex;
  justify-content: center;
  margin-top: 97px;
}

/* estilos aplicados a sessão quem somos */

#quem-somos {
  background: linear-gradient(to bottom, #2e0101, #000000);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 170px 0 190px 230px;
}

#quem-somos h2 {
  color: #dfdddd;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.texto-quem-somos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quem-somos p {
  color: #c8c7c7;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.3px;
  max-width: 670px;
  margin-bottom: 30px;
}

.foto-loja {
  position: absolute;
}

.logo-giratoria {
  position: relative;
  top: 432px;
  left: 397px;
  animation: girarLogo 14s linear infinite;
}

@keyframes girarLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* estilização da sessão parceiros */

.parceiros {
  background-color: #000;
  height: 316px;
}

.parceiros h2 {
  color: #c8c6c6;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 48px;
  margin-left: 233px;
}

.logo-parceiros {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  gap: 144px;
}

#contato {
  padding-bottom: 170px;
  background-color: #e6e7e8;
}

#contato h2 {
  color: #530202;
  font-family: "Cabin Sketch", sans-serif;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 130px;
}

.container-localizacao-form {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.localizacao{
  border-radius: 4px;
  border: 1px solid rgba(117, 17, 17, 0.30);
  padding: 55px 44px;
  background-color: #fff;
}

.endereco-container-localizacao{
  /* margin-top: 45px; */
}

.localizacao address{
  display:grid;
  gap: 20px;
}

.localizacao span {
  color: #530202;
  font-family: 'Open Sans' sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 166.682%; /* 35.003px */
  letter-spacing: 0.315px;
}

.localizacao img {
  margin-right: 10px;
}

.localizacao p {
  font-size: 16px;
}

.google-map {
  margin: 20px 0  35px;
  width: 815px;
  height: 475px;
  border: 1px solid hsl(6, 94%, 85%);
  border-radius: 3px;
}

.formulario {
  background-color: #fff;
  color: #530202;
  width: 750px;
  padding: 20px 40px;
  border-radius: 4px;
  border: 1px solid rgba(117, 17, 17, 0.30);
}

.formulario p {
  color: #530202;  
  font-family: 'Open Sans' sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 33px;  */
  letter-spacing: 0.33px;
  text-align: center;
  margin-bottom: 25px;
}

.required_field{
  color: #d80835;
  padding: 0 6px;
}

label{
  font-size: 22px;
}

input{
  border: 1px solid hsl(6, 94%, 85%);
  border-radius: 2px;
  font-size: 18px;
}

textarea{
  padding: 10px 5px;
  width: 500px;
  border: 1px solid hsl(6, 94%, 85%);
  border-radius: 2px;
}

.block{
  display: block;
}

.box-input-pessoal{
  margin-bottom: 25px;
  display: grid;
  gap: 5px;
}

.box-input-pessoal input {
  height: 40px;
  padding: 10px 10px;
}



.box-input-preferencias {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.box-input-preferencias input {
  margin-left: 20px;
}

select {
  background-color: rgba(255, 202, 201, 15);
  font-size: 20px;
  padding: 5px;
  color: #4e0b0b;
}

.box-input-notificacao {
  margin-bottom: 30px;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.box-input-notificacao input {
  margin-left: 20px;
}


.btn-formulario {
  margin:20px 0;
  background-color: #020791;
  color: #FFF;
  border: 1px solid #c8c6c6;
  width: 150px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .5s;
  border-radius: 4px;
  font-weight:600;
  letter-spacing: 0.93px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn-formulario:hover {
  background-color: hsl(6, 94%, 85%);
  border: 1px solid #530202;
  color: #530202;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.2);
}


.box-input{
  margin-bottom: 25px;
}







/* estilização do footer */


.footer-principal {
  background-color: #4e0b0b;
  height: 427px;
}

.footer-container-filho {
  justify-items: center;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  gap: 154px;
}

.footer-principal h2 {
  color: #f1bbbb;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 15px;
}

.footer-principal span {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.682%; 
  letter-spacing: 0.27px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-principal p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.682%;
  letter-spacing: 0.27px;
}

.footer-principal .horarios {
  color: #c8c6c6;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.682%; 
  letter-spacing: 0.225px;
}

.footer-principal li,
a {
  text-decoration: none;
  list-style: none;
  color: #fff;
}

.footer-principal a:hover {
  color: hsl(6, 94%, 85%);
}

hr {
  height: 1px;
  background: rgba(241, 187, 187, 0.3);
}

.endereco {
  margin-bottom: 25px;
}

.footer-direitos-reservados {
  text-align: center;
  padding-top: 80px;
}

.footer-direitos-reservados p {
  color: #cecaca;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.footer-principal li,
p {
  margin-top: 10px;
}




  
